<div class="pensamento {{ think.model }} ff-roboto-mono pensamento-p">
  <img
    src="../../../../assets/imagens/{{ think.model }}.png"
    alt="Aspas coloridas"
  />
  <p class="conteudo">{{ think.content }}</p>
  <p class="autoria">{{ think.autor }}</p>
  <div class="acoes">
    <button class="botao-editar">
      <img
        src="../../../../assets/imagens/icone-editar.png"
        alt="icone de editar"
      />
    </button>
    <button class="botao-excluir">
      <img
        src="../../../../assets/imagens/icone-excluir.png"
        alt="icode de excluir"
      />
    </button>
  </div>
</div>
