<section class="container">
  <header class="header d-flex">
    <h2 class="ff-inter">Meu mural</h2>
    <button class="botao" [routerLink]="'/criar-pensamento'">
      Adicionar pensamento
    </button>
  </header>

  <!-- When has any think -->
  <div class="mural" *ngIf="thinkList.length">
    <div *ngFor="let think of thinkList">
      <app-think [think]="think"></app-think>
    </div>
  </div>

  <!-- When dont has any think -->
  <div class="ff-inter sem-pensamentos" *ngIf="!thinkList.length">
    <p>Ainda nao ha pensamentos cadastrados!</p>
  </div>
</section>
